
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("couleur.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
errorSection {
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--body-color)
}
button {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  padding: 14px 22px;
  border: none;
  background: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-color);
}
button.show-error-modal,
.error-modal-box {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
errorSection.active .show-error-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
errorSection.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.error-modal-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: var(--body-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
errorSection.active .error-modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.error-modal-box i {
  font-size: 70px;
  color: var(--error-color);
}
.error-modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: var(--text-hard-color);
}
.error-modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-hard-color);
  text-align: center;
}
.error-modal-box .buttons {
  margin-top: 25px;
}
.error-modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
